<?xml version="1.0" ?>
<configuration>
	<fullextent xmin="113.95816486716043" xmax="114.62421100973856" ymin="24.912096782358166" ymax="25.33301047864723" wkid="4610"/>
	<initextent xmin="113.95816486716043" xmax="114.62421100973856" ymin="24.912096782358166" ymax="25.33301047864723" wkid="4610"/>
	<!-- 地图服务url -->
    <!--<servletcontext>http://115.29.5.226:8080/flexservice/</servletcontext>  -->
    <servletcontext>http://localhost:8080/lcly/</servletcontext>
	<layers>
	    <layer id="dt" url="http://218.15.41.59:8719/wmts/sg_gz_map/Default/epsg:4610/" showtype="base" type="wmts" visible="true"></layer>
	    <layer id="yx" url="http://218.15.41.59:8719/wmts/sg_gz_image_map/Default/epsg:4610/" showtype="base" type="wmts" visible="false"></layer>
	    <layer id="zj" url="http://218.15.41.59:8719/wmts/sg_gz_image_zj/Default/epsg:4610/" showtype="base" type="wmts" visible="false"></layer>

	    <layer id="ddzh_featurelayer" name="水库" url="servlet/dataexchange?t=SK_LOAD" showtype="check"  type="database" visible="true" icon="assets/images/i_hydro.png" iconwidth="20" iconheight="20"></layer>
	    <layer id="infoPop_YJ_featurelayer" name="水库预警" url="assets/YBPDK.json" showtype="check" type="infoPop" visible="false" namefield="ZHLX" contentfield="ZHDD" icon="assets/images/i_pin2.png" iconwidth="20" iconheight="20"/>
	    <layer id="infoPop_DZZHYHD_featurelayer" name="水雨情遥测" url="assets/DZZHYHD.json" showtype="check" type="infoPop" visible="false" namefield="ZHLX" contentfield="ZHDD" icon="assets/images/i_flag_WSK.png" iconwidth="20" iconheight="20"/>
	    <layer id="infoPop_SP_featurelayer" name="视频检测点" url="assets/JSGCGHXK.json" showtype="check" type="infoPop" visible="false" namefield="ZHLX" contentfield="ZHDD" icon="assets/buttons/i_camera.png" iconwidth="20" iconheight="20"/>
    </layers>
	    
	<querylayers>
	    <!-- 政务外网 -->
	    <querylayer name="水库" displayname="水库" querytype="database"  namefield="gcmc" contentfield="xzq" icon="assets/main/left_searchlist_icon.png" iconwidth="21" iconheight="20"
	        url="servlet/dataexchange?t=SK_QUERY" resume="水库名称:gcmc;行政区:xzq;总库容(万m3):zkr;正常库容(万m3):zckr" labelwidth="100" formXML="1">
	        <queryfield displayname="名称" name="gcmc"></queryfield>
	    </querylayer>
	    <querylayer name="地名地址" displayname="地名地址" querytype="newmap" namefield="NAME" contentfield="ADDNAME" icon="assets/main/left_searchlist_icon.png" iconwidth="21" iconheight="20"
	        url="http://218.15.41.59:8719/NewMapServer/WebServices/FeatureServer.php?layer=RHDMDZ2000">
	        <queryfield displayname="名称" name="NAME"></queryfield>
	        <queryfield displayname="地址" name="ADDNAME"></queryfield>
	    </querylayer>
	</querylayers>
	
	<statistic>
	     <staticlayer name="地质灾害地裂缝"
	        url="http://218.15.41.59:8719/NewMapServer/WebServices/FeatureServer.php?layer=sg_dzzh_dlf">
	        <!-- 分类字段 -->
	        <classfield label="灾害点名称" name="灾害点名称"/>
	         <!-- 统计字段，其中COUNT为系统的数量统计 -->
	        <sumfield label="数量" name="COUNT"/>
	    </staticlayer>
	    <staticlayer name="建设工程规划许可"
	        url="http://127.0.0.1:8719/NewMapServer/WebServices/FeatureServer.php?layer=JSGCGHXK">
	        <classfield label="项目名称" name="XMMC"/>
	        <classfield label="建设单位" name="JSDW"/>
	        <sumfield label="数量" name="COUNT"/>
	    </staticlayer>
	    <staticlayer name="已报批地块"
	        url="http://127.0.0.1:8719/NewMapServer/WebServices/FeatureServer.php?layer=JSGCGHXK">
	        <classfield label="名称" name="XMMC"/>
	        <classfield label="地址" name="JSDW"/>
	        <sumfield label="数量" name="COUNT"/>
	    </staticlayer>
	</statistic>
	
	<json>
	</json>
</configuration>