/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace esri "http://www.esri.com/2008/ags";

.globe
{
	font-family:"SimSun";
	font-size:12; 
}
s|Application
{ 
	font-family:"SimSun";
	font-size:12; 
}


mx|ToolTip
{
	font-size:12;
}

.errorTip
{
	font-size:12;
	
}

.sjjsButton {
	color:#FFFFFF;
	icon: Embed(source="assets/main/top_sjjs.png");
	downIcon: Embed(source="assets/main/top_sjjs_h.png");
	overIcon: Embed(source="assets/main/top_sjjs.png");
	disableIcon: Embed(source="assets/main/top_sjjs.png");
	selectedIcon: Embed(source="assets/main/top_sjjs_h.png");
	skinClass: ClassReference("cn.framework.skin.MainSelectButtonSkin");
}
.sjglButton {
	color:#FFFFFF;
	icon: Embed(source="assets/main/top_sjgl.png");
	downIcon: Embed(source="assets/main/top_sjgl_h.png");
	overIcon: Embed(source="assets/main/top_sjgl.png");
	disableIcon: Embed(source="assets/main/top_sjgl.png");
	selectedIcon: Embed(source="assets/main/top_sjgl_h.png");
	skinClass: ClassReference("cn.framework.skin.MainSelectButtonSkin");
}
.fwglButton {
	color:#FFFFFF;
	icon: Embed(source="assets/main/top_fwgl.png");
	downIcon: Embed(source="assets/main/top_fwgl_h.png");
	overIcon: Embed(source="assets/main/top_fwgl.png");
	disableIcon: Embed(source="assets/main/top_fwgl.png");
	selectedIcon: Embed(source="assets/main/top_fwgl_h.png");
	skinClass: ClassReference("cn.framework.skin.MainSelectButtonSkin");
}
.bbglButton {
	color:#FFFFFF;
	icon: Embed(source="assets/main/top_bbgl.png");
	downIcon: Embed(source="assets/main/top_bbgl_h.png");
	overIcon: Embed(source="assets/main/top_bbgl.png");
	disableIcon: Embed(source="assets/main/top_bbgl.png");
	selectedIcon: Embed(source="assets/main/top_bbgl_h.png");
	skinClass: ClassReference("cn.framework.skin.MainSelectButtonSkin");
}

.xtglButton
{
	color:#FFFFFF;
	icon: Embed(source="assets/main/top_xtgl.png");
	downIcon: Embed(source="assets/main/top_xtgl_h.png");
	overIcon: Embed(source="assets/main/top_xtgl.png");
	disableIcon: Embed(source="assets/main/top_xtgl.png");
	selectedIcon: Embed(source="assets/main/top_xtgl_h.png");
	skinClass: ClassReference("cn.framework.skin.MainSelectButtonSkin");	
}



.py {
	color:#FFFFFF;
	icon: Embed(source="assets/main/tool_move.png");
	downIcon: Embed(source="assets/main/tool_move_h.png");
	overIcon: Embed(source="assets/main/tool_move_h.png");
	disableIcon: Embed(source="assets/main/tool_move_h.png");
	selectedIcon: Embed(source="assets/main/tool_move_h.png");
	skinClass: ClassReference("cn.framework.skin.MainSelectButtonSkin");
}
.fd {
	color:#FFFFFF;
	icon: Embed(source="assets/main/tool_zoom+.png");
	downIcon: Embed(source="assets/main/tool_zoom+_h.png");
	overIcon: Embed(source="assets/main/tool_zoom+_h.png");
	disableIcon: Embed(source="assets/main/tool_zoom+_h.png");
	selectedIcon: Embed(source="assets/main/tool_zoom+_h.png");
	skinClass: ClassReference("cn.framework.skin.MainSelectButtonSkin");
}

.sx {
	color:#FFFFFF;
	icon: Embed(source="assets/main/tool_zoom.png");
	downIcon: Embed(source="assets/main/tool_zoom_h.png");
	overIcon: Embed(source="assets/main/tool_zoom_h.png");
	disableIcon: Embed(source="assets/main/tool_zoom_h.png");
	selectedIcon: Embed(source="assets/main/tool_zoom_h.png");
	skinClass: ClassReference("cn.framework.skin.MainSelectButtonSkin");
}

.jl {
	color:#FFFFFF;
	icon: Embed(source="assets/main/tool_rule.png");
	downIcon: Embed(source="assets/main/tool_rule_h.png");
	overIcon: Embed(source="assets/main/tool_rule_h.png");
	disableIcon: Embed(source="assets/main/tool_rule_h.png");
	selectedIcon: Embed(source="assets/main/tool_rule_h.png");
	skinClass: ClassReference("cn.framework.skin.MainSelectButtonSkin");
}

.mj {
	color:#FFFFFF;
	icon: Embed(source="assets/main/tool_rule2.png");
	downIcon: Embed(source="assets/main/tool_rule2_h.png");
	overIcon: Embed(source="assets/main/tool_rule2_h.png");
	disableIcon: Embed(source="assets/main/tool_rule2.png");
	selectedIcon: Embed(source="assets/main/tool_rule2_h.png");
	skinClass: ClassReference("cn.framework.skin.MainSelectButtonSkin");
}

.qc {
	color:#FFFFFF;
	icon: Embed(source="assets/main/tool_del.png");
	downIcon: Embed(source="assets/main/tool_del_h.png");
	overIcon: Embed(source="assets/main/tool_del_h.png");
	disableIcon: Embed(source="assets/main/tool_del.png");
	selectedIcon: Embed(source="assets/main/tool_del_h.png");
	skinClass: ClassReference("cn.framework.skin.MainSelectButtonSkin");
}

/*
.dy {
	color:#FFFFFF;
	icon: Embed(source="assets/main/tool_print.png");
	downIcon: Embed(source="assets/main/tool_print_h.png");
	overIcon: Embed(source="assets/main/tool_print_h.png");
	disableIcon: Embed(source="assets/main/tool_print.png");
	selectedIcon: Embed(source="assets/main/tool_print_h.png");
	skinClass: ClassReference("cn.framework.skin.MainSelectButtonSkin");
}



.fp {
	color:#FFFFFF;
	icon: Embed(source="assets/main/tool_change.png");
	downIcon: Embed(source="assets/main/tool_change_h.png");
	overIcon: Embed(source="assets/main/tool_change_h.png");
	disableIcon: Embed(source="assets/main/tool_change.png");
	selectedIcon: Embed(source="assets/main/tool_change_h.png");
	skinClass: ClassReference("cn.framework.skin.MainSelectButtonSkin");
}*/

.qp {
	color:#FFFFFF;
	icon: Embed(source="assets/main/tool_retunefull.png");
	downIcon: Embed(source="assets/main/tool_retunefull_h.png");
	overIcon: Embed(source="assets/main/tool_retunefull_h.png");
	disableIcon: Embed(source="assets/main/tool_retunefull.png");
	selectedIcon: Embed(source="assets/main/tool_retunefull_h.png");
	skinClass: ClassReference("cn.framework.skin.MainSelectButtonSkin");
}

/*
.cxbutton {
	color:#FFFFFF;
	icon: Embed(source="assets/main/btn_search_h.jpg");
	downIcon: Embed(source="assets/main/btn_search.jpg");
	overIcon: Embed(source="assets/main/btn_search_h.jpg");
	disableIcon: Embed(source="assets/main/btn_search.jpg");
	selectedIcon: Embed(source="assets/main/btn_search.jpg");
	skinClass: ClassReference("cn.framework.skin.MainSelectButtonSkin");
}*/

.layerswicth
{
	color:#FFFFFF;
	icon: Embed(source="assets/images/check_off.png");
	downIcon: Embed(source="assets/images/check_on.png");
	overIcon: Embed(source="assets/images/check_off.png");
	disableIcon: Embed(source="assets/images/check_off.png");
	selectedIcon: Embed(source="assets/images/check_on.png");
	skinClass: ClassReference("cn.framework.skin.MainSelectButtonSkin");
}

